---
import DemiRadioButton from "./DemiRadioButton.astro";
import type { Labels } from "./tabs";

interface Props {
  labels: Labels;
}

const { labels } = Astro.props;

const radioProps = Object.fromEntries(
  ["first", "alt"].map((step) => [
    step,
    Object.fromEntries<astroHTML.JSX.IntrinsicElements["input"]>(
      ["ms_auth", "auth_app", "phone", "fido"].map((selection) => [
        selection,
        {
          id: `radio-${step}-${selection}`,
          type: "radio",
          name: `radio-${step}`,
          value: selection,
        },
      ])
    ),
  ])
);
---

<div class="wrapper">
  <p class="col-first">手順1</p>
  <p class="col-alt">手順2</p>

  <p class="col-label">{labels.ms_auth}</p>
  <span class="col-first">
    <DemiRadioButton />
    <input {...radioProps.first.ms_auth} />
  </span>
  <span class="col-alt">
    <DemiRadioButton />
    <input {...radioProps.alt.ms_auth} />
  </span>
  <div class="col-description">
    <slot name="ms_auth" />
  </div>

  <p class="col-label">{labels.auth_app}</p>
  <span class="col-first">
    <DemiRadioButton />
    <input {...radioProps.first.auth_app} />
  </span>
  <span class="col-alt">
    <DemiRadioButton />
    <input {...radioProps.alt.auth_app} />
  </span>
  <div class="col-description">
    <slot name="auth_app" />
  </div>

  <p class="col-label">{labels.phone}</p>
  <span class="col-first">
    <DemiRadioButton />
    <input {...radioProps.first.phone} />
  </span>
  <span class="col-alt">
    <DemiRadioButton />
    <input {...radioProps.alt.phone} />
  </span>
  <div class="col-description">
    <slot name="phone" />
  </div>

  {
    labels.fido && (
      <>
        <p class="col-label">{labels.fido}</p>
        <span class="col-first">
          <DemiRadioButton />
          <input {...radioProps.first.fido} disabled />
        </span>
        <span class="col-alt">
          <DemiRadioButton />
          <input {...radioProps.alt.fido} />
        </span>
        <div class="col-description">
          <slot name="fido" />
        </div>
      </>
    )
  }
</div>

<script>
  import { emitChangeTab, onChangeTab } from "./tabs";

  onChangeTab((step, selection) => {
    if (selection === "select") return;
    document
      .querySelectorAll<HTMLInputElement>(`input[name^="radio-${step}"]`)
      .forEach((radio) => {
        radio.checked = radio.value === selection;
      });
  });

  function onChange(this: HTMLInputElement) {
    const [, step, selection] = this.id.split("-");
    emitChangeTab(step, selection);
  }

  document.addEventListener("DOMContentLoaded", () => {
    document
      .querySelectorAll<HTMLInputElement>(`input[name^="radio"]`)
      .forEach((radio) => {
        radio.addEventListener("change", onChange);
      });
  });
</script>

<style lang="scss">
  @import "@styles/color.scss";

  .wrapper {
    display: grid;
    grid-template-columns: auto 4rem 4rem;
    // row-gap: 0.5rem;
    border: 1px solid $white-gray-dark;
    margin: 1rem 0;
    padding: 0.5rem 0;

    > .col-label {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    > .col-first {
      font-weight: bold;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    > .col-alt {
      font-weight: bold;
      grid-column-start: 3;
      grid-column-end: 4;
    }
    > .col-description {
      grid-column-start: 1;
      grid-column-end: 4;
      padding: 0.7rem 0.5rem 0;
    }

    p {
      margin: 0;
    }

    p.col-label {
      padding: 0.1rem 0.5rem;
      font-weight: bold;
      background-color: $white-gray-light;
    }
    p.col-first,
    p.col-alt {
      text-align: center;
    }
    span.col-first,
    span.col-alt {
      position: relative;
      background-color: $white-gray-dark;
      border-inline-start: 1px solid $white-gray-light;
      border-inline-end: 1px solid $white-gray-light;

      &:has(input[type="radio"]:disabled) {
        background-color: $white-gray-light;
      }

      & > input[type="radio"] {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
</style>
