---
import If from "@components/utils/If.astro";
import type { Step, Labels } from "./tabs";

interface Props {
  step: Step;
  labels: Labels;
}

const { step, labels } = Astro.props;

// `<button {...tabProps("select")} />` がなぜかparse errorを吐くので，対策……
const tabProps = Object.fromEntries<astroHTML.JSX.IntrinsicElements["button"]>(
  ["select", "ms_auth", "auth_app", "phone", "fido"].map((key) => [
    key,
    {
      id: `${step}-tab-${key}`,
      type: "button",
      role: "tab",
      "aria-controls": `${step}-panel-${key}`,
      "aria-selected": "false",
      class: "tab",
    },
  ])
);
const panelProps = Object.fromEntries<astroHTML.JSX.IntrinsicElements["div"]>(
  ["select", "ms_auth", "auth_app", "phone", "fido"].map((key) => [
    key,
    {
      id: `${step}-panel-${key}`,
      role: "tabpanel",
      "aria-labelledby": `${step}-tab-${key}`,
      hidden: true,
    },
  ])
);
---

<div class="button-list">
  <button {...tabProps.select}>{labels.select}</button>
  <button {...tabProps.ms_auth}>{labels.ms_auth}</button>
  <button {...tabProps.auth_app}>{labels.auth_app}</button>
  <button {...tabProps.phone}>{labels.phone}</button>
  <If cond={Boolean()}>
    <button {...tabProps.fido}>{labels.fido}</button>
  </If>
</div>
<div class="panel-list">
  <div {...panelProps.select}><slot name="select" /></div>
  <div {...panelProps.ms_auth}><slot name="ms_auth" /></div>
  <div {...panelProps.auth_app}><slot name="auth_app" /></div>
  <div {...panelProps.phone}><slot name="phone" /></div>
  <If cond={Boolean(labels.fido)}>
    <div {...panelProps.fido}><slot name="fido" /></div>
  </If>
</div>

<script>
  import { onClick } from "./tabs";

  document.querySelectorAll("button.tab").forEach((tab) => {
    tab.addEventListener("click", onClick);
  });
</script>

<style lang="scss">
  @import "@styles/color.scss";

  .button-list {
    display: flex;
  }
  .panel-list {
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
  button.tab {
    display: block;
    flex: 1;
    background-color: $white-gray-dark;
    border: none;
    outline: none;
    box-shadow: none;

    &[aria-selected="true"] {
      background-color: $white-gray-light;
    }
  }
</style>
