---
import Buttons from "./Buttons.astro";
import { Image } from "astro:assets";
import Navigation from "./Navigation.astro";
import type { Lang } from "@components/types";
import UtokyoLogo from "./20240301_UTokyoLogotypeA_RGB.svg";

interface Props {
  lang: Lang;
  support?: boolean;
}

const { lang, support = false } = Astro.props;

const localization = {
  title: {
    ja: "情報システムの総合案内サイト @ 東京大学",
    en: "The Portal Site of Information Systems @ UTokyo",
  },
};
const topUrl = {
  ja: "/",
  en: "/en/",
};
const xUrl = {
  ja: "https://twitter.com/utelecon_pr?ref_src=twsrc%5Etfw",
  en: "https://twitter.com/utelecon_pr_en?ref_src=twsrc%5Etfw",
};
---

{
  support ? (
    <script
      type="text/javascript"
      data-apikey="sjqCBa7nSLGFhdwGk4kZVQ"
      src="https://us01ccistatic.zoom.us/us01cci/web-sdk/zcc-sdk.js"
    />
  ) : (
    <Buttons lang={lang} />
  )
}

<footer class="footer">
  <div class="logo">
    <a href="https://www.u-tokyo.ac.jp/">
      <Image
        class="logo-utokyo"
        src={UtokyoLogo}
        alt="東京大学 the University of Tokyo"
      />
    </a>
    <a class="logo-utelecon" href={topUrl[lang]}>{localization.title[lang]}</a>
    <a href={xUrl[lang]} class="twitter-follow-button" data-size="large" data-show-screen-name="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="https://apis.google.com/js/platform.js"></script><div class="g-ytsubscribe" data-channelid="UCaRZGYEm5RbQIdZaojk3ZiA" data-layout="default" data-count="default"></div>
    <Navigation lang={lang} />
  </div>
</footer>

<style lang="scss">
  @import "../../styles/color.scss";
  footer.footer {
    background-color: $footer-background-color;
    color: white;
    padding: 2rem 4rem 8rem;
    :link,
    :visited {
      color: white;
      text-decoration: none;
    }
    @media (max-width: 768px) {
      padding: 2rem 2rem 8rem;
    }
    @media (max-width: 512px) {
      padding: 2rem 1rem 6rem;
    }

    .logo {
      text-align: center;
      &-utokyo {
        width: 16rem;
        max-width: 62.5%;
        height: auto;
      }
      &-utelecon {
        display: block;
        margin: 2rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media print {
      display: none;
    }
  }
</style>
